<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PUG FILE FORM</title>
</head>
<body>
    <div class="container">
        <form action="/" method="post">
            <input type="text" name="name" id="name" placeholder="Enter your name">
            <input type="text" name="email" id="name" placeholder="Enter your email">
            <input type="text" name="password" id="name" placeholder="Enter your password">
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>